<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle Videojuego</title>
</head>
<body>

    <h1>Detalle del Videojuego</h1>
    <p>ID del Videojuego: {{ videojuego_id }}</p>
    <h2>Nombre: {{ videojuego.nombre }}</h2>
    <p>Desarrollador: {{ videojuego.desarrollador }}</p>

    <h2>Información Adicional</h2>
    <p>Descripción: {{ videojuego.descripcion }}</p>
    <p>Fecha de Lanzamiento: {{ videojuego.fecha_lanzamiento }}</p>
    <p>Género: {{ videojuego.genero }}</p>

</body>
</html>